#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

:root {
  --primary-color: #521a68;
  --text-dark: #1a0f24;
}
h1 {
  color: var(--primary-color);
}

p {
  color: #1a0f24; 
}

.articles-card{
  max-width: 90vw;
  height: 350px;
  column-gap: 3px;
  margin: 8px; 
}

.article-image {
  width: 100px;
  height: 100px;
}

.read-article-button {
  width: 80px;
  max-height: 40px;
  background-color: #d8b3d2;
}

.article-title {
  border: 2px solid rgb(177, 173, 173);
  text-align: center;
}

.author {
  font-size: 18px;
}

.topic {
  font-size: 18px;
}

.created-at {
  font-size: 18px;
}

.individual-article-title {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.individual-article-info {
  color: #5c4d5f;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
}

.individual-article-date {
  padding: 10px;
  margin-bottom: 15px;
}

.individual-article-votes {
  padding: 10px;
  margin-bottom: 15px;
}

.individual-article-body {
  text-align: justify;
  padding: 10px;
  margin-bottom: 15px;
}

.comments-card {
  text-align: justify;
  display: block;
  margin: 10px;
  border-top: 1px solid #165e6c;
  padding-top: 10px
}

.comment-author {
  color: #5c4d5f;
  font-size: 14px;
  padding-bottom: 3px;
}

.comment-created_at {
  color: #5c4d5f;
  font-size: 14px;
  padding-bottom: 3px;
}

.comment-votes {
  color: #5c4d5f;
  font-size: 14px;
  padding-bottom: 3px;
}

.comment-body {
  padding-bottom: 8px;
}

.back-button {
  width: 80px;
  max-height: 40px;
  background-color: #d8b3d2;
}
